* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    font-family: Rubik;
}
.header {
    width: 100%;
    height: 56px;
    background-color: #0B1219;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 109px;
    height: 20px;
    margin-left: 20px;
}
.avatar {
    width: 35px;
    height: 35px;
}
.user {
    width: 221px;
    height: 35px;
    display: flex;
}
.name {
    color: #FFFFFF;
    padding-left: 10px ;
    font-weight: 500;
    font-family: Rubik;
    font-size: 14px;
    
}
.work {
    padding-left: 11px;
    color: #858F98;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin-top: 3px;

}
.tema {
    width: 100%;
    height: 400px;
    background-color: #16202A;
    padding-left:30px ;
}
.tekst {
    display: flex;
    padding-top:30px ;
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom:34px ;
    li {
        margin-right: 35px ;
        &:nth-child(1) {
            color: #FFD63D;
        }
    }
}
.tezt {
    display: flex;
}
.course {
    width: 220px;
    height: 220px;
    border-radius: 5px;
}
.text {
    padding-left: 30px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.info {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 32px;
    width:561px;
    height: 48px;
    padding-top: 15px;
}
.level{
    display: flex;
    padding-top: 31px;
    padding-left: 38px;
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase; 
    color: #858F98;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    
    li {
        margin-right: 22px;
        border: 1px solid #858F98;
        padding: 6px;
        margin: 10px;
    }
}
.kurs {
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.go {
    width: 206px;
    height: 51px;
    border-radius: 60px;
    background: #FFD63D;
    border: none;
    align-items:center;
    outline:none;
    
}
.lets {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #3A4959;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    text-decoration: none;
}
.otziv {
    font-family:Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
    margin-top: 51px;
    color: #3A4959;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.footer {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #15202B;
    padding: 0 30px 0 30px
}
.logotwo {
    width: 109px;
    height: 20px;
}
.infotwo {
    width: 334px;
    height: 48px;
}
.tektone {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #A2ACBC;
}
.oplata {
    display: flex;
    img {
        &:first-child {
            margin-right: 17px;
        }
    }
}
.konf {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #858F98;
    border: 1px solid #858F98;
    padding: 12px;
    margin: 10px;
}
.myzikone {
    width: 900px;
    height: 545px;
    margin-left: 62px;
    margin-bottom: 119px;
    
}
.dostoinstva {
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 87.69%;
    color: #3A4959;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.samotzivkruto {
    width: 799px;
    height: 96px;
    left: 0px;
    top: 134px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A4959;
}
.photomyzika {
    width: 80px;
    height: 80px;
}
.namemyzika {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #3A4959;
    margin-left: 15px;
    
}
.myzikkrutoi {
   display: flex;
   margin-bottom: 30px;
}
.samidostoinstva {
    margin-bottom: 25px;
}
.kogda1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 87.69%;
    color: #A2ACBC;
    padding-left: 15px ;
}

.rilinenorm {
    margin-bottom: 25px;
}
.nedostatki {
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 87.69%;
    color: #3A4959;
    margin-bottom: 10px;
}
.saminedostatki {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A4959;
}
.katchestvo {
    margin-bottom: 49px;
}
.text21 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 87.69%;
    color: #3A4959;
    margin-bottom: 10px;
}
.text22 {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A4959;
}
